.parent {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}

.child {
  background-color: dodgerblue;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}