
div {
    background-color: #ccc;
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    float: left;
}


/* box-shadow: x축(좌에서 우), y축(상에서하), 퍼짐, 색상  */
.box1 {
    box-shadow: 5px 5px 20px red;
}

/* x,y축 이동 x */
.box2 {
    box-shadow: 0 0 20px rgba(30, 144, 255, 0.47);
}

/* 퍼짐이 0 */
.box3 {
    box-shadow: 10px 10px 0 crimson;
}

/* 안쪽으로 향하는 그림자 */
.box4 {
    box-shadow: inset 0 0 20px rgba(0,0,0,0.26)
}

/* 안쪽으로 향하는 그림자 */
.box5 {
    box-shadow: inset 0 0 20px rgba(255,255,255, 0.9);
}

/* 안쪽으로 향하는 그림자 */
.box6 {
    box-shadow: inset 0 0 100px #000;
}