body {
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
    width: 300px;
    height: 200px;
    border: 1px solid red;
}

/* 
text decoration 관련 문서:
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_text-decoration 
*/